<footer class="whole-footer">
    <section>
        <div> 
            <div class="flex-container">
                <div class="flex-child">
                    <h5 class="text-uppercase fw-bold mb-4">
                        MCC Skin Finder
                    </h5>
                    <p>
                        An web application to try the famous <br>
                        API call and angular modules/components
                    </p>
                </div>
                <div class="flex-child">
                    <h5>
                        Apis Called
                    </h5>
                    <p>
                        <a href="https://playerdb.co" class="apis">Playerdb</a>
                    </p>
                    <p>
                        <a href="https://crafatar.com" class="apis">Crafatar</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</footer>