.HeaderComponent{
    background-color:rgba(0, 0, 0, 0.5);
    color: rgb(226, 200, 205); /*Off white*/
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo{
    margin-left: 15px;
    width:50px;
    height:50px;
}