.PrincipalBody {
    background-image: url(https://i.pinimg.com/originals/2d/a3/8e/2da38eeb76f29c28b4909389fe77ecd2.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    margin: 0; 
    padding: 0;
}